@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenido!</h1>

En este proyecto se almacenarán las tareas 12 a 15 de Programación para Web.

<footer class="fixed-bottom text-center">Gutiérrez Gutiérrez Imelda Patricia - 4°H - Ingeniería de Software - Telemática</footer>
